body {
    margin: 0;
    font-family: Courier New;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://media1.popsugar-assets.com/files/thumbor/pf7p5OwJHSx-mtBedM8inT7vUsk/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2018/02/06/931/n/43503365/5e4319df5a7a1c2b0c59d0.84460668_edit_img_cover_file_44558870_1517947212/i/Queer-Eye-Cast-2018.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    display: block;
    width: 200px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    color: white
    text-decoration: none;
    font-size: 1.5em;
    background-color: #FFAEB9;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100px 1fr 300px;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffafbd, #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

main {
  flex: 1;
  padding: 10px;
  margin: 0 15%;
  max-width: 90%;
  padding: 1em 0;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.module {
  /* Demo-Specific Styles */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

nav {
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffafbd, #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
}
 
aside {
  padding: 20px;
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffafbd, #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffafbd, #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}